<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_style.css') }}">
    <title>{{ name }} | myself.social</title>
</head>
<body>
    <div class="container">
        <div class="id-card">
            <h1>Not found - {{ name }}</h1>
            <p>We're sorry. We failed to find something suitable for this request.</p>
        </div>
    </div>
</body>
</html>
