<!DOCTYPE html>
<html>
<head>
    <title>myself.social</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing_page.css') }}">
    <link rel="me" href="https://skvip.lol/@markus">
    <meta name="fediverse:creator" content="@markus@skvip.lol" />
</head>
<body>
    <div class="container">
        <h1>myself.social</h1>
        <p>Dette er ei teneste for å verifisere din identitet på tvers av vevsidar.</p>
        <p>Du fyllar inn din myself.social-konto med lenkjer til dine profilar på veven. På desse profilane lenkjar du også tilbake til din myself.social-konto. Då verifiserar tenestane kvarandre, og det kan bli verifisert at alle desse kontoane er dine. </p>
        <p>Du kan sjå eit døme på det via <a href="https://myself.social/@markus">@markus@myself.social</a>.</a></p>    
        <p>Du kan finne meg på <a href="https://skvip.lol/@markus">mastodon</a> om du har spørsmål.</p>
    </div>
</body>
</html>
