<!DOCTYPE html>
<html lang="nn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>myself.social</title>
    <meta name="description" content="myself.social er ei teneste for å verifisere din identitet på tvers av vevsidar.">
    <link rel="canonical" href="https://myself.social/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="myself.social">
    <meta property="og:description" content="Ei teneste for å verifisere din identitet på tvers av vevsidar.">
    <meta property="og:url" content="https://myself.social/">
    <meta property="og:image" content="{{ url_for('static', filename='img/myself_banner.jpeg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='landing_page.css') }}">
    <link rel="me" href="https://skvip.lol/@markus">
    <meta name="fediverse:creator" content="@markus@skvip.lol" />
</head>
<body>
    <div class="container">
        <h1>myself.social</h1>
        <p>Dette er ei teneste for å verifisere din identitet på tvers av vevsidar.</p>
        <p>Du fyllar inn din myself.social-konto med lenkjer til dine profilar på veven. På desse profilane lenkjar du også tilbake til din myself.social-konto. Då verifiserar tenestane kvarandre, og det kan bli verifisert at alle desse kontoane er dine. </p>
        <p>Du kan sjå eit døme på det via <a href="https://myself.social/@markus">@markus@myself.social</a>.</p>
        <p>Du kan finne meg på <a href="https://skvip.lol/@markus">mastodon</a> om du har spørsmål.</p>
    </div>
</body>
</html>
