<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='user_style.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
    <title>{{ shortname }} | myself.social</title>
    {% include 'meta.html' %}
</head>
<body>

    <div class="container">
        <div class="id-card">
            <h1><span id="all-verified" role="img" aria-label="Verifying…">⏳</span> {{ name }}</h1>
            {% if external %}
                <p id="external">Verifying against <span id="guess">⏳</span></p>
            {% endif %}
            <ul>
                {% for post in posts %}
                    <li class="post">
                        <span class="verification-icon" role="img" aria-label="Verifying…">⏳</span>
                        <a rel="me" href="{{ post.link }}">{{ post.link }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        window.addEventListener("DOMContentLoaded", () => {
            verifyPages("{{ external }}");
        });
    </script>
</body>
</html>
